// General setting for the entire site, including heading and navigation bar...


body {
    background-color: #f9f9f9;
    height: 1200px;
    margin: 2em;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.logo {
    color: #000927;
    font-weight: bold;
    font-size: 1.8em;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000927;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: #f9f9f9;
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2em;
        margin-top: 0.5em;
        cursor: pointer;
    }
}


.open-nav {
    transform: translateX(0%);
}
// @keyframes introLoad {
//     from {
//         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
//     }
//     to {
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//     }
// }

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

