body {
  background-color: #f9f9f9;
  margin: 2em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: unset;
  right: 0;
  background: url(./images/001.png);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 80%;
  height: 100vh;
  z-index: -1;
}

.logo {
  color: blue;
  font-weight: bold;
  font-size: 1.8em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #000927;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: .75em 2em;
  display: block;
}

nav ul a:hover {
  background: #f9f9f9;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 2em;
  margin-top: 0.5em;
  cursor: pointer;
}

section.hero {
  color: #000927;
  height: 90vh;
  -webkit-animation: moveDown 1.5s ease-in-out forwards;
          animation: moveDown 1.5s ease-in-out forwards;
  opacity: 0;
}

h1 {
  font-size: 3.5rem;
  margin-top: 1.5em;
  line-height: 3.5rem;
  font-weight: 700;
}

.subhead {
  margin-top: 1.5em;
  font-size: 1.2rem;
  color: #707070;
  font-weight: 600;
}

.discover {
  margin-top: 2em;
}

.player {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player p {
  margin-top: .2em;
  margin-left: 2.5em;
  font-weight: bold;
  color: #707070;
}

.player svg {
  position: absolute;
  width: 2em;
}

section.brief {
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 80%;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: #000927;
    padding: .5em 1.5em;
    font-size: .9rem;
    font-weight: bold;
  }
  nav ul a:hover {
    background: none;
    border-bottom: #000927;
    border-radius: 1em;
    border-width: 1em;
  }
  .hero-img {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    background: url(./images/001.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 80%;
    width: 100%;
    z-index: -1;
  }
  section.hero {
    height: auto;
    width: 50%;
    margin-bottom: 8em;
  }
  section.hero h1 {
    font-size: 4.5rem;
    margin-top: 2em;
    line-height: 4rem;
    font-weight: 500;
  }
  section.hero .subhead {
    margin-top: 1.5em;
    font-size: 1rem;
    font-weight: 600;
  }
  .discover {
    margin-top: .5em;
  }
  .player {
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .player p {
    margin-top: .2em;
    margin-left: 2.5em;
    font-weight: bold;
    color: #707070;
  }
  .player svg {
    position: absolute;
    width: 2em;
  }
}

@media only screen and (min-width: 1200px) {
  .container-fluid {
    width: 1200px;
    margin: 0 auto;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 40em;
  }
  .player {
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .player p {
    margin-top: .2em;
    margin-left: 2.5em;
    font-weight: bold;
    color: #707070;
  }
  .player svg {
    position: absolute;
    width: 2em;
  }
  .player:hover {
    cursor: pointer;
  }
  .hero-img {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    background: url(./images/001.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 85%;
    width: 100%;
    z-index: -1;
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */