.logo {
    color: #000927;
    font-weight: bold;
    font-size: 1.8em;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000927;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: #f9f9f9;
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}